/* --- БАЗА ---- */
/* Светлая тема */
:root {
  --color-bg: #1d1c22;
  --color-text: #b3b1bb;
  --color-primary: #2f62ff;
  --color-accent: #7a60fd;
  --color-success: #56d8a2;
  --color-error: #ef4e34;
  --color-card: #1c1a26;
  --color-border: #2a2845;  
}

/* Тёмная тема */
[data-theme="light"] {
  --color-bg: #F9FAFB;
  --color-text: #1E1E1E;
  --color-primary: #2f62ff;
  --color-accent: #7a60fd;
  --color-success: #56d8a2;
  --color-error: #ef4e34;
  --color-card: #e7eaf0;
  --color-border: #ccd1d7;
}

/* --- Общие стили ---- */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

/* --- Кнопки ---- */
button {
  background-color: var(--color-primary);
  color: rgb(208, 208, 208);
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #2563EB;
}

.del-btn:hover {
  background-color: #a83322;
} 

/* --- Инпуты ---- */
input, textarea {
  background-color: var(--color-card);
  color: var(--color-text);
  border: 1px, solid var(--color-border);
  border-radius: 6px;
  padding: 10px;
  transition: border 0.3s ease;
}

input:focus, textarea:focus {
  border-color: var(--color-primary);
  outline: none;
}

/* --- Карточки ---- */
.card {
  background-color: var(--color-card); 
  border: 1px solid var(--color-border); 
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}

/* --- Иконки ---- */
.icon {
  width: 24px;
  height: 24px;
  stroke: var(--color-text);
  fill: none;
}

/* --- Сообщения об ошибках и успехе ---- */
.error {
  color: var(--color-error);
}

.success {
  color: var(--color-success);
}