body{
  display: flex;
  flex-direction: column;  
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.todo-container {
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-card);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

/* ряд с инпутом и кнопками */
.controls {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.controls input {
  flex: 1;
}

main {
  margin-top: 20px;
}

/* Список без маркеров и базовых отступов */
#taskConteiner {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Элемент списка — карточка */
#taskConteiner li {
  display: grid;
  grid-template-columns: 24px 1fr auto auto; /* чекбокс, текст, edit, delete */
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  margin-bottom: 10px;
}

/* Завершённые задачи с зачёркнутым текстом */
.task-item.done .task-text {
  text-decoration: line-through;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  color: #666b73
}

.del-btn  img,
.edit-btn img {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

.del-btn {
  background-color: var(--color-error);
}

img {
  filter: invert(1) sepia(1) saturate(1) hue-rotate(100deg);
}

.task-item input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
}

.task-item input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  position: relative;
}

.task-item input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  transition: opacity 0.2s ease;
}

.task-text {
  text-align: left;
  word-break: break-word;
  padding: 0 10px 0 15px;
}

